<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb
        class="col-12"
        (idCategory)="setValuesInDashboard($event)"
        [breadcrumb]="breadcrumb"
      ></app-breadcrumb>
    </div>
    <div class="content-body">
      <!-- Harvest Info cards -->
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div
            class="card pull-up"
            *blockUI="'categoriesCard'; message: 'Loading'"
          >
            <div
              *ngIf="
                currentUser.rol === 'admin' ||
                currentUser.rol === 'company' ||
                currentUser.rol === 'planner'
              "
              class="card-content"
            >
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-folder-open-o font-large-2 success"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">
                      Categorías disponibles
                    </h5>
                    <h3 class="text-bold-600">
                      {{ quantitieCategory | number }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="currentUser.rol === 'superadmin'" class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-folder-open-o font-large-2 success"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">
                      Empresas registradas
                    </h5>
                    <h3 class="text-bold-600">
                      {{ quantityCompanies | number }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div
            class="card pull-up"
            *blockUI="'registersCard'; message: 'Loading'"
          >
            <div
              *ngIf="
                currentUser.rol === 'admin' ||
                currentUser.rol === 'company' ||
                currentUser.rol === 'planner'
              "
              class="card-content"
            >
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-server font-large-2 warning"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">
                      Registros acumulados
                    </h5>
                    <h3 class="text-bold-600">
                      {{ quantitieRegisters | number }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="currentUser.rol === 'superadmin'" class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-server font-large-2 warning"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">Usuarios activos</h5>
                    <h3 class="text-bold-600">
                      {{ quantitieCompaniesEnabled | number }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
            <div *ngIf="currentUser.rol === 'superadmin'" class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-pencil-square-o font-large-2 info"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">
                      Usuarios desactivados
                    </h5>
                    <h3 class="text-bold-600">
                      {{ quantitieCompaniesDisabled }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Harvest Info cards Ends -->
      <!-- Pie Chart -->
      <section
        id="chartjs-pie-charts"
        *blockUI="'registersCard'; message: 'Loading'"
      >
        <div
          *ngIf="
            currentUser.rol === 'admin' ||
            currentUser.rol === 'company' ||
            currentUser.rol === 'planner'
          "
          class="row"
        >
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <h3>Registros de las cosechas (kg)</h3>
                  <div class="piechart height-400">
                    <canvas
                      baseChart
                      [data]="pieChartData"
                      [options]="pieChartOptions"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [colors]="pieChartColors"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pie Chart -->
    </div>
  </div>
</div>
