<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel4">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-0">
  <div style="overflow-y: hidden; height: calc(100vh - 15rem)">
    <div class="px-2" style="overflow-y: auto; height: 100%">
      <div [formGroup]="filterForm" class="row justify-content-between">
        <div class="col-md-3">
          <mat-form-field appearance="legacy">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ej. Rodrigo"
              #input
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="legacy">
            <mat-label>Desde</mat-label>
            <input
              matInput
              autocomplete="off"
              [matDatepicker]="fromDate"
              placeholder="dd-mm-yyyy"
              formControlName="fromDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="legacy">
            <mat-label>Hasta</mat-label>
            <input
              matInput
              autocomplete="off"
              [matDatepicker]="toDate"
              placeholder="dd-mm-yyyy"
              formControlName="toDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <button
            type="button"
            class="btn btn-primary btn-sm mt-1 mb-2"
            (click)="applyFilterDate()"
          >
            Filtrar
          </button>
        </div>
        <div
          class="col-md-1 v-line"
          *blockUI="'buttonExcel'; message: 'Loading'"
        >
          <button
            (click)="exportToExcel()"
            triggers="hover:click:hover"
            [autoClose]="'outside'"
            placement="left"
            ngbTooltip="Exportar a excel"
            class="btn btn-xs btn-square btn-outline-secondary"
          >
            <i class="feather ft-download"></i>
          </button>
        </div>
      </div>
      <mat-table
        #table
        class="mat-elevation-z8"
        [dataSource]="dataSource"
        matSort
        matSortActive="id"
        matSortDirection="asc"
        class="mat-cell"
        *blockUI="'registerHarvest'; message: 'Loading'"
      >
        <!-- position Definition -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> N&#176; </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index" data-label="N&#176;">
            {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
          </mat-cell>
        </ng-container>

        <!-- run Definition -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            RUN
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="RUN">
            {{ row.id }}
          </mat-cell>
        </ng-container>

        <!-- name Definition -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="Nombre">
            {{ row.name }}
          </mat-cell>
        </ng-container>

        <!-- acumulate Definition -->
        <ng-container matColumnDef="acumulate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Peso acumulado
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="Peso acumulado">
            {{ row.acumulate }} Kg
          </mat-cell>
        </ng-container>

        <!-- rol Definition -->
        <ng-container matColumnDef="lastDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha término
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="Fecha término">
            {{ row.lastDate.toDate() | date: "dd/MM/yyyy HH:mm" }}
          </mat-cell>
        </ng-container>

        <!-- actions Definition -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="Acciones">
            <div class="d-flex justify-content-end">
              <button
                (click)="showDetails(row.id, row.name, row.acumulate)"
                triggers="hover:click:hover"
                [autoClose]="'outside'"
                placement="left"
                ngbTooltip="Ver registros usuario"
                class="btn btn-social-icon btn-xs mt-1 mb-1 mr-1 btn-outline-soundcloud"
              >
                <span class="la la-eye"></span>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
        ></mat-row>

        <!-- Row shown when there is no matching data. -->

        <tr class="mat-row" *matNoDataRow>
          <td *ngIf="!isEmpty" class="mat-cell" colspan="4">
            <br />
            No hay coincidencias para "{{ input.value }}"
          </td>
          <td *ngIf="isEmpty" class="mat-cell" colspan="4">
            <br />
            No hay datos para mostrar
          </td>
        </tr>
      </mat-table>
      <!-- Pagination-->
      <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 50, 100]"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn grey btn-outline-secondary"
    (click)="activeModal.dismiss('Cross click')"
  >
    Cerrar
  </button>
  <!--button type="button" class="btn btn-outline-primary">Save changes</button-->
</div>
