<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel4">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-0" *blockUI="'userRegister'; message: 'Loading'">
  <div style="overflow-y: hidden; height: calc(100vh - 15rem)">
    <div class="px-2" style="overflow-y: auto; height: 100%">
      <div class="row">
        <ng-container *ngFor="let item of registersUsers; let i = index">
          <div class="col-md-6">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="media align-items-stretch">
                  <ng-container *ngIf="rol; else elseEdit">
                    <div
                      class="bg-info p-1 media-middle"
                      (click)="editRegister(item.id)"
                    >
                      <i class="icon-pencil font-large-2 text-white"></i>
                    </div>
                  </ng-container>
                  <ng-template #elseEdit
                    ><div class="bg-info p-1 media-middle">
                      <i
                        class="icon-book-open font-large-2 text-white"
                      ></i></div
                  ></ng-template>
                  <div class="media-body p-1">
                    <h4>{{ categoryName }}</h4>
                    <span>{{
                      item.date.toDate() | date: "dd/MM/yyyy HH:mm"
                    }}</span>
                  </div>
                  <div class="media-right p-1 media-middle">
                    <h1 class="info">{{ item.weight | number }} kg</h1>
                  </div>
                  <ng-container *ngIf="rol">
                    <div class="media-right mr-1">
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="delete(item.id, item.weight)"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn grey btn-outline-secondary"
    (click)="activeModal.dismiss('Cross click')"
  >
    Cerrar
  </button>
  <!--button type="button" class="btn btn-outline-primary">Save changes</button-->
</div>
