<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel4">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="categoryForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre categoría</label>
          <div class="position-relative has-icon-left">
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="Nombre categoría"
              formControlName="name"
              [ngClass]="{
                'is-invalid': submitted && f.name.errors
              }"
            />
            <div class="form-control-position">
              <i class="la la-list"></i>
            </div>
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.name.errors.required">
                El nombre de la categoría es requerido
              </div>
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="dateStart">Fecha inicio</label>
          <div class="position-relative has-icon-left">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="dd-mm-yyyy"
                name="dp"
                ngbDatepicker
                #d3="ngbDatepicker"
                formControlName="dateStart"
                [ngClass]="{
                  'is-invalid': submitted && f.dateStart.errors
                }"
              />
              <div class="input-group-append">
                <div class="input-group-text" (click)="d3.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer"></i>
                </div>
              </div>
              <small
                class="form-text text-muted danger"
                *ngIf="submitted && f.dateStart.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.dateStart.errors.required">
                  La fecha de inicio es requerida
                </div>
                <div *ngIf="f.dateStart.errors.pattern">
                  Formato de fecha inválida
                </div>
              </small>
            </div>
            <div class="form-control-position">
              <i class="feather ft-message-square"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="price">Precio</label>
          <div class="position-relative has-icon-left">
            <input
              type="number"
              id="price"
              class="form-control"
              placeholder="Precio"
              formControlName="price"
              [ngClass]="{
                'is-invalid': submitted && f.price.errors
              }"
            />
            <div class="form-control-position">
              <i class="la la-dollar"></i>
            </div>
            <small
              class="form-text text-muted danger"
              *ngIf="submitted && f.price.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.price.errors.required">
                El precio de la categoría es requerido
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn grey btn-outline-secondary"
    (click)="activeModal.dismiss('Cross click')"
  >
    Cerrar
  </button>
  <button
    type="button"
    (click)="onProductSubmit()"
    class="btn btn-outline-primary"
  >
    Aceptar
  </button>
</div>
