<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <section class="row flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
              <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                  <img
                    src="../../../../../assets/images/logo/logo-dark.png"
                    alt="branding logo"
                  />
                </div>
                <h6
                  class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"
                >
                  <span>Te enviaremos un email con las instrucciones.</span>
                </h6>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form [formGroup]="recoveryForm" class="form-horizontal">
                    <fieldset
                      class="form-group position-relative has-icon-left"
                    >
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Ingresa tu email"
                        required
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                      />
                      <div class="form-control-position">
                        <i class="feather ft-mail"></i>
                      </div>
                      <small
                        class="form-text text-muted danger"
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.email.errors.required">
                          El email es requerido
                        </div>
                        <div *ngIf="f.email.errors.email">
                          La dirección de email debe ser válida
                        </div>
                      </small>
                    </fieldset>
                    <button
                      (click)="onRecoverySubmit()"
                      type="submit"
                      class="btn btn-outline-info btn-lg btn-block"
                    >
                      <i class="fa fa-refresh fa-spin" *ngIf="loading"></i>
                      <i class="feather ft-unlock" *ngIf="!loading"></i>
                      Recuperar contraseña
                    </button>
                  </form>
                </div>
              </div>
              <div class="card-footer border-0">
                <p class="float-sm-left text-center">
                  <a [routerLink]="['/login']" class="card-link"
                    >Iniciar sesión</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
