<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-md-12" *blockUI="'blockUIHarvest'; message: 'Loading'">
          <m-card [options]="options" (reloadFunction)="reload($event)">
            <ng-container mCardHeaderTitle>
              Categorías de las cosechas
            </ng-container>
            <ng-container mCardBody>
              <div class="d-flex justify-content-around">
                <div class="form-group form-inline">
                  Buscar:
                  <input class="form-control ml-2" type="text" />
                </div>
                <div class="form-group form-inline">
                  Desde:
                  <input
                    class="form-control ml-2"
                    type="date"
                    placeholder="yyyy-mm-dd"
                    name="from"
                  />
                </div>
                <div class="form-group form-inline">
                  Hasta:
                  <input
                    class="form-control ml-2"
                    type="date"
                    placeholder="yyyy-mm-dd"
                    name="to"
                  />
                </div>
              </div>
              <div class="table-responsive card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th *ngFor="let head of headElements" scope="col">
                        {{ head }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <th scope="row">1</th>
                    <td>Fruta</td>
                    <td>Fruta</td>
                    <td>Fruta</td>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </m-card>
        </div>
      </div>
    </div>
  </div>
</div>
