<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="horizontal-form-layouts">
        <div class="row">
          <div
            class="col-md-12"
            *blockUI="'blockUIHarvest'; message: 'Loading'"
          >
            <m-card [options]="options" (reloadFunction)="reload($event)">
              <ng-container mCardHeaderTitle>
                Categorías de las cosechas
              </ng-container>
              <ng-container mCardBody>
                <div class="d-flex justify-content-around">
                  <form>
                    <div class="form-group form-inline">
                      Buscar:
                      <input
                        class="form-control ml-2"
                        [formControl]="filter"
                        type="text"
                      />
                    </div>
                  </form>
                  <div class="form-group form-inline">
                    Desde:
                    <input
                      class="form-control ml-2"
                      type="date"
                      placeholder="yyyy-mm-dd"
                      [(ngModel)]="from"
                      name="from"
                    />
                  </div>
                  <div class="form-group form-inline">
                    Hasta:
                    <input
                      class="form-control ml-2"
                      type="date"
                      placeholder="yyyy-mm-dd"
                      [(ngModel)]="to"
                      name="to"
                    />
                  </div>
                </div>
                <div class="table-responsive card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th *ngFor="let head of headElements" scope="col">
                          {{ head }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        mdbTableCol
                        *ngFor="
                          let element of harvestSearch
                            | async
                            | slice
                              : (page - 1) * pageSize
                              : (page - 1) * pageSize + pageSize;
                          index as i
                        "
                      >
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          <ngb-highlight
                            [result]="element.name"
                            [term]="filter.value"
                          >
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight
                            [result]="
                              element.dateStart.toDate()
                                | date: 'dd/MM/yyyy HH:mm'
                            "
                            [term]="
                              element.dateStart.toDate()
                                | date: 'dd/MM/yyyy HH:mm'
                            "
                          >
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight
                            [result]="
                              element.dateEnd.toDate().toString()
                                | date: 'dd/MM/yyyy HH:mm'
                            "
                            [term]="
                              element.dateEnd.toDate().toString()
                                | date: 'dd/MM/yyyy HH:mm'
                            "
                          >
                          </ngb-highlight>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination
                      [collectionSize]="collectionSize"
                      [(page)]="page"
                      [pageSize]="pageSize"
                    >
                    </ngb-pagination>

                    <select
                      class="custom-select"
                      style="width: auto"
                      [(ngModel)]="pageSize"
                    >
                      <option [ngValue]="collectionSize">
                        Mostrar todos los ítems
                      </option>
                      <option [ngValue]="2">2 ítems por página</option>
                      <option [ngValue]="4">4 ítems por página</option>
                      <option [ngValue]="6">6 ítems por página</option>
                      <option [ngValue]="collectionSize">
                        Mostrar todos lo ítems
                      </option>
                    </select>
                  </div>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
